In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import matplotlib
sns.set_palette('colorblind',10)
sns.set_context('notebook')
matplotlib.rc('xtick', labelsize=25) 
matplotlib.rc('ytick', labelsize=25)
matplotlib.rc('axes',labelsize=25) 
from astropy.table import Table
import os
__ddir__ = os.path.expanduser('~')+'/PhD/Gaia_Project/data/KepxDR2/'
try:
    os.mkdir(__ddir__+'targetlists')
except OSError:
    pass

In [2]:
elsclass = pd.read_csv('../data/KepxDR2/ElsRc/RC-v1.txt',header=None)
elsclass.rename(columns={0:'KICID'},inplace=True)
elsclass.KICID = elsclass['KICID'].astype('str')

In [3]:
elsclass2 = pd.read_csv('../data/KepxDR2/ElsRc/RC-v3.txt',header=None)
elsclass2.rename(columns={0:'KICID'},inplace=True)
elsclass2['KICID'] = elsclass2.KICID.astype('str')
elsclass = elsclass.append(elsclass2)

In [4]:
len(elsclass)

5641

In [5]:
oyes = pd.read_csv('../data/KepxDR2/ElsRc/o1-yes.txt',header=None)
oyes.rename(columns={0:'KICID'},inplace=True)
oyes.KICID = oyes['KICID'].astype('str')

In [6]:
oyes = pd.merge(elsclass, rcxyu18, on='KICID',how='left')
print('Targets: '+str(len(rcxyu18)))

         KICID
0       892760
1      1026084
2      1026180
3      1026452
4      1160684
5      1160789
6      1161447
7      1161618
8      1162746
9      1163453
10     1163621
11     1294924
12     1295475
13     1296179
14     1297272
15     1430912
16     1431316
17     1434395
18     1435573
19     1569823
20     1571780
21     1572049
22     1575886
23     1576469
24     1577143
25     1701763
26     1717783
27     1717994
28     1718743
29     1720425
...        ...
7145  12603035
7146  12603148
7147  12643940
7148  12644458
7149  12644579
7150  12645107
7151  12645202
7152  12646386
7153  12647597
7154  12647649
7155  12688781
7156  12689984
7157  12690461
7158  12690972
7159  12691122
7160  12691710
7161  12691734
7162  12734579
7163  12735106
7164  12735291
7165  12736410
7166  12783745
7167  12784548
7168  12784683
7169  12784948
7170  12785083
7171  12785307
7172  12833300
7173  12884930
7174  12885005

[7175 rows x 1 columns]